html,
body {
	background-color: #333;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	display: block;
}

body {
	background-color: #333;
	background-image: url("../images/backgrounds/mainbg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

#canvas {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.load-font {
	font-family: 'Mouse Memoirs', sans-serif;
	color: transparent;
}
